.headline {
    font-family: hwt-artz, sans-serif;
    text-align: center;
    margin: 0.5em 0;
}

.convoyList {
    width: 6rem;
}

.convoyProfile {
    cursor: pointer;
    display: block;
    margin: 0.5em auto;
    height: 4em;
    width: 4em;
    border: 4px solid #707070;
    border-radius: 100%;
    box-sizing: border-box;
}

.convoyProfile.online {
    border: 4px solid #96c85b;
}

.convoyProfile.away {
    border: 4px solid #ebdb4d;
}

.convoyProfile.busy {
    border: 4px solid #ffa5a5;
    opacity: 0.8;
}

.convoyProfileContainer {
    
}